body {
    padding-top: 50px;
    padding-bottom: 20px;
}
/* Home Page */

#map-canvas {
    width: 100%;
    height: 400px;
}
#list {
    max-height: 400px;
    overflow-y: scroll;
    margin-left: -20px;
}
/* Regions */

.regions {
    margin-bottom: 20px;
}
.cities {
    margin-top: 20px;
    p {
        font-weight: bold;
    }
}
.labels {
    margin-top: 20px;
    p {
        font-weight: bold;
    }
}
/* Facts */

#facts {
    li {
        margin-bottom: 10px;
    }
}
/* About */

.cite {
    padding-left: 22px;
    text-indent: -22px;
    margin-bottom: 5px;
}